$color-Bg-Black: #181818;
$color-Theme-Green: #08fdd8;
$color-Italic: #515152;
$color-Subtitle: #8d8d8d;
$color-Bg-Grey: #252627;
$color-Theme-Red: #fc0853;
$opacity-100: 100;
$opacity-0: 0;

#on-page {
	color: $color-Theme-Green;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: '微软雅黑', Georgia, Serif;
}

a {
	text-decoration: none;
}

body {
	background: $color-Bg-Grey;
}

header {
	background: $color-Bg-Black;
	display: flex;
	justify-content: space-between;
	height: 59px;

	#logo {
		a {
			display: block;
			width: 57px;
			height: 59px;
			overflow: hidden;
			color: white;
			background: black;
			font-size: 8px;
			text-align: center;

			span {
				display: block;
				margin-top: -3px;
			}

			img {
				display: block;
				margin: 11px 14px;
			}

			h1 {
				text-indent: -9999px;
			}
		}
	}

	nav {
		ul {
			display: flex;
			width: 420px;
			justify-content: space-between;
			line-height: 59px;
			height: 59px;

			li {
				position: relative;
				flex: 1;
				text-align: center;

				a {
					text-align: center;

					&:hover .headline {
						opacity: $opacity-100;
						transition: all 1s ease-out;
					}

					&:hover .iconfont {
						opacity: $opacity-0;
						transition: all 1s ease-out;
					}
				}

				.headline {
					opacity: $opacity-0;
					color: $color-Theme-Green;
				}

				.iconfont {
					opacity: $opacity-100;
					position: absolute;
					left: 23px;
					font-size: 22px;
					color: #4d4d4e;
				}
			}
		}
	}

	#socialBar {
		ul {
			display: flex;
			justify-content: space-between;
			width: 136px;
			line-height: 59px;
			margin-right: 1rem;
			li {
				.iconfont {
					color: #4d4d4e;
					font-size: 15px;

					&:hover {
						color: $color-Theme-Green;
						transition: all 1s ease-out;
					}
				}
			}
		}
	}
}
